[user]
name = Márcio Daniel
email = marcio.daniel@msn.com
[core]
editor = code --wait
[init]
defaultBranch = main
[alias]
myLog = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
empty = !git commit --allow-empty -m 
